
<div>
    <nav class="bg-gray-800 p-4">
        <div class="container mx-auto flex justify-between items-center">
          
          <a  class="text-white text-lg font-semibold">PHEONIX-admin</a>
    
          <!-- Navigation Links -->
          <ul class="flex space-x-4">
            <li><a class="text-white capitalize " routerLink="/adminhome">Home</a></li>
            <li><a class="text-white capitalize" routerLink="addbooks">add-books</a></li>
            <li><a class="text-white capitalize" routerLink="userlist">users</a></li>
            <li><a  (click)="logOut()" class="text-white capitalize">logout</a></li>
          </ul>
        </div>
      </nav>
</div>
